body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.isbn-number {
  display: inline-block;
  vertical-align: top;
  max-height: 3em; /* Adjust the maximum height as needed */
  overflow: hidden;
}

.isbn-number:hover {
  max-height: none; /* Reveal full text on hover */
  overflow: visible;
}

.card-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch; /* Ensure all cards stretch to match height */
}

.card {
  flex: 0 0 calc(25% - 20px); /* Adjust width and margins as needed */
  margin-bottom: 20px;
}
